<settings>
    <profiles>
        <profile>
            <id>standard-extra-repos</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>jboss</id>
                    <url>http://repository.jboss.org/nexus/content/groups/public-jboss/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>jboss-snapshot</id>
                    <url>http://repository.jboss.org/nexus/content/groups/public-jboss/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <repository>
                     <id>jboss</id>
                     <name>JBoss Maven Repository</name>
                     <url>http://maven.repository.redhat.com/techpreview/all/</url>
                     <layout>default</layout>
                     <releases>
                         <enabled>true</enabled>
                         <updatePolicy>never</updatePolicy>
                     </releases>
                     <snapshots>
                        <enabled>false</enabled>
                     </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>jboss-plugins</id>
                    <url>http://repository.jboss.org/nexus/content/groups/public-jboss/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>jboss-snapshot-plugins</id>
                    <url>http://repository.jboss.org/nexus/content/groups/public-jboss/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                     <id>jboss</id>
                     <url>http://maven.repository.redhat.com/techpreview/all/</url>
                     <releases>
                          <enabled>true</enabled>
                     </releases>
                     <snapshots>
                          <enabled>false</enabled>
                     </snapshots>
                </pluginRepository>
            </pluginRepositories>

        </profile>
    </profiles>

</settings>
